- if @user.errors.any?
  .flash-error
    %h2 Form errors were detected
    %ul
    - @user.errors.full_messages.each do |msg|
      %li= msg

= form_for @user do |f|
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.label :email
  = f.text_field :email
  = f.label :start_day
  = f.select :start_day, options_for_select(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], "Monday")

  = f.submit
