%h1 User Information

%ul
  %li
    Name:
    = @user.name
  %li
    Email:
    = @user.email

%h2 Preferences
%ul
  %li 
    start_day :
    = @user.start_day

= link_to "Edit", edit_user_path(@user)


%hr
%h2 Current Training Plan: 10k Level II (16 weeks)
%h2 Current Week: 7
%h2 Current Status: On Target
%h2 Today's Workout: 2 miles LSD
%table
  %tr.calendar-header
    %th Week
    -   days = ordered_days_of_week(start_day: @user.start_day)

    - (0..6).each do |day_num|
      %th{class: "day-#{day_num}"}
        = days[day_num]
    %th Totals
  %tr.calendar-week
    %td 6
    %td 
      .date Jun 17
      .goal 2
      .actual 2
    %td 
      .date Jun 18
      .goal 4
      .actual 4
    %td 
      .date Jun 19
      .goal 2
      .actual 2
    %td 
      .date Jun 20
      .goal 4
      .actual 4
    %td 
      .date Jun 21
      .goal 2
      .actual 2
    %td 
      .date Jun 22
      .goal 2
      .actual 2
    %td 
      .date Jun 23
      .goal 5
      .actual 5
    %td 
      .goal 21
      .actual 21
  %tr.calendar-week
    %td 7
    %td 
      .date Jun 24
      .goal 2
      .actual 2
    %td 
      .date Jun 25
      .goal 4
      .actual 4
    %td.today
      .date Jun 26
      .goal 2
      .actual -
    %td 
      .date Jun 27
      .goal 4
      .actual -
    %td 
      .date Jun 28
      .goal 2
      .actual -
    %td 
      .date Jun 29
      .goal 2
      .actual -
    %td 
      .date Jun 30
      .goal 5
      .actual -
    %td 
      .goal 21
      .actual 6
  %tr.calendar-week
    %td 8
    %td 
      .date Jul 1
      .goal 2
      .actual -
    %td 
      .date Jul 2
      .goal 4
      .actual -
    %td 
      .date Jul 3
      .goal 2
      .actual -
    %td 
      .date Jul 4
      .goal 4
      .actual -
    %td 
      .date Jul 5
      .goal 2
      .actual -
    %td 
      .date Jul 6
      .goal 2
      .actual -
    %td 
      .date Jul 7
      .goal 5
      .actual -
    %td 
      .goal 21
      .actual -
  %tr.calendar-week
    %td 9
    %td 
      .date Jul 8
      .goal 2
      .actual -
    %td 
      .date Jul 9
      .goal 4
      .actual -
    %td 
      .date Jul 10
      .goal 2
      .actual -
    %td 
      .date Jul 11
      .goal 4
      .actual -
    %td 
      .date Jul 12
      .goal 2
      .actual -
    %td 
      .date Jul 13
      .goal 2
      .actual -
    %td 
      .date Jul 14
      .goal 5
      .actual -
    %td 
      .goal 21
      .actual -


