%h1= @training_plan.name
%h2
  Distance: 
  = @training_plan.distance
%h2
  Time: 
  = @training_plan.weeks.count
  weeks

= button_to "Add a Week", new_training_plan_week_path(@training_plan), method: :get

%table
  - @training_plan.weeks.each do |week|
    %tr{class: "week-#{week.number}"}
      %td
        Week
        = week.number
      - week.days.each do |day|
        %td{class: "day-#{day.number}"}
          Day
          = day.number
          = link_to "new", new_training_plan_week_day_workout_path(@training_plan, week, day)
          - day.workouts.each do |workout|
            %p.distance
              = workout.distance
      %td.total
        Total - 
        = week.distance
