!!! 5
%html
  %head
    %title Trot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield

    %h3 params
    %ul
    -  params.each do |param|
      %li
        = param[0] 
        = '=>'
        = param[1]
